<div class="footer">
    <hr />
        <div class="footer-link">
            {% if site.social.facebook %}
                <a href="https://www.facebook.com/{{ site.social.facebook }}"><i class="fa fa-2x fa-facebook" aria-hidden="true"></i></a>
            {% endif %}
	
	        {% if site.social.youtubeUser %}
                <a href="https://www.youtube.com/user/{{ site.social.youtubeUser }}"><i class="fa fa-2x fa-youtube" aria-hidden="true"></i></a>
            {% endif %}
	
	        {% if site.social.youtubeChannel %}
                <a href="https://www.youtube.com/channel/{{ site.social.youtubeChannel }}"><i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i></a>
            {% endif %}

            {% if site.social.twitter %}
                <a href="https://twitter.com/{{ site.social.twitter }}"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
            {% endif %}

            {% if site.social.github %}
                <a href="https://github.com/{{ site.social.github }}"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
            {% endif %}
            
            {% if site.social.stackoverflow %}
                <a href="http://stackoverflow.com/users/{{ site.social.stackoverflow }}"><i class="fa fa-2x fa-stack-overflow" aria-hidden="true"></i></a>
            {% endif %}
            
            {% if site.social.quora %}
                <a href="https://www.quora.com/profile/{{ site.social.quora }}"><i class="fa fa-2x fa-quora" aria-hidden="true"></i></a>
            {% endif %}

            {% if site.social.linkedin %}
                <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
            {% endif %}
            
            {% if site.social.pinterest %}
                <a href="https://www.pinterest.com/{{ site.social.pinterest }}"><i class="fa fa-2x fa-pinterest" aria-hidden="true"></i></a>
            {% endif %}
            
            {% if site.social.googlePlus %}
                <a href="https://plus.google.com/{{ site.social.googlePlus }}"><i class="fa fa-2x fa-google-plus" aria-hidden="true"></i></a>
            {% endif %}
            
            {% if site.social.instagram %}
                <a href="https://www.instagram.com/{{ site.social.instagram }}"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></a>
            {% endif %}
            
            {% if site.social.reddit %}
                <a href="https://www.reddit.com/user/{{ site.social.reddit }}"><i class="fa fa-2x fa-reddit" aria-hidden="true"></i></a>
            {% endif %}

            {% if site.social.medium %}
                <a href="https://medium.com/@{{ site.social.medium }}"><i class="fa fa-2x fa-medium" aria-hidden="true"></i></a>
            {% endif %}

            {% if site.social.tumblr %}
                <a href="https://{{ site.social.tumblr }}.tumblr.com"><i class="fa fa-2x fa-tumblr" aria-hidden="true"></i></a>
            {% endif %}

            {% if site.social.email %}
                <a href="mailto:{{ site.social.email }}"><i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
            {% endif %}
        </div>
    © {{ site.copyright.year }} {{ site.copyright.name }}. All rights reserved.
</div>
